@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f4f4f9;
    color: #333;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.display {
    display: flex;
    margin: 20px;
}

.displayCategory {
    flex: 0.15;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.displayCategory h2 {
    margin-top: 0;
}

.displayCategory ul {
    list-style-type: none;
    padding: 0;
}

.displayCategory ul li {
    margin: 10px 0;
    transition: 0.5s ease;
}

.displayCategory ul li:hover{
    margin-left: 20px;
}

.displayCategory ul li a {
    text-decoration: none;
    color: #007bff;
}

.displayItems {
    flex: 0.85;
    margin-left: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table tr {
    border-bottom: 1px solid #ddd;
}

table td {
    padding: 10px;
    text-align: center;
}

#itemImage {
    height: 100px;
    width: auto;
}

#productName {
    font-weight: bold;
}

#productPrice {
    color: green;
    font-weight: bold;
}