@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

body{
	background-color: #f4f4f9;
	height: 100vh;
}

#removeItems{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 20px;
}

#removeItems a {
	text-decoration: none;
	color: red;
	transition: 0.5s ease;	
}

#removeItems a:hover{
	transform: scale(1.1);
}

#tableItems {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

#itemImage {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 100px;
	float: left;
}

#itemName {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 100px;
	width: 200px;
	float: left;
}

#titleName {
	width: 200px;
	float: left;
}

#titlePrice {
	float: left;
}

#itemPrice {
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 100px;
	display: inline-block;
}

#image {
	height: 100px;
	width: 80px;
}

#seperator {
	margin: 0px;
	max-width: 400px;
}

#itemNameTag {
	font-weight: bold;
}