<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Password</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.png')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/password.css') }}">
</head>
<body>
    <div class="container">
        <h1>Change Password</h1>
        <p>{{ msg }}</p>
        <form action="{{ url_for('changePassword') }}" method="POST" onsubmit="return validate()">
            <div class="form-group">
                <label for="oldpassword">Old Password:</label>
                <input type="password" name="oldpassword" id="oldpassword">
            </div>
            <div class="form-group">
                <label for="newpassword">New Password:</label>
                <input type="password" name="newpassword" id="newpassword">
            </div>
            <div class="form-group">
                <label for="cpassword">Confirm Password:</label>
                <input type="password" name="cpassword" id="cpassword">
            </div>
            <input type="submit" value="Save">
        </form>
        <a href="{{ url_for('profileHome') }}">Go to Profile</a>
    </div>
    <script src="{{ url_for('static', filename='js/changePassword.js') }}"></script>
</body>
</html>
