<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<title>Edit Profile </title>
	<link rel="icon" href="{{ url_for('static', filename='images/logo.png')}}"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/editProfile.css') }}"/>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/topStyle.css') }}" />
</head>
<body>
	<div id="title">
		<a href="/">
			<img id="logo" src= "{{ url_for('static', filename='images/logo.png') }}" />
		</a>
		<form class="form">
			<input id="searchBox" type="text" name="searchQuery" placeholder="Search...">
			<input id="searchButton" type="submit" value="Search">
		</form>
		{% if not loggedIn %}
		<div id="signInButton">
			<a class="link" href="/loginForm">Sign In</a>
		</div>
		{% else %}
		<div class="dropdown">
            <button class="dropbtn">
                <img src="{{ url_for('static', filename='images/utilisateur.png')}}" alt="">
                <span>
                    {{firstName}}
                </span>       
            </button>   
			<div class="dropdown-content">
				<a href="/account/profile">Your profile</a>
				<hr>
				<a href="/logout">Sign Out</a>
			</div>
		</div>
		{% endif %}
		<div id="kart">
            <a class="link" href="/cart">
                <img src="{{ url_for('static', filename='images/shoppingCart.png') }}" id="cartIcon" />
                <div class="puiss">
					<span>{{ noOfItems }}</span>
                </div>
            </a>
		</div>
	</div>
	<div class="edit-container">
		<div>
			<h2>Edit Profile</h2>
			<form id="edit-form" action="/updateProfile" method="POST">
				<div class="form-group">
					<label for="email">Email:</label>
					<input type="email" id="email" name="email" value="{{profileData[1]}}" readonly="readonly" disabled>
				</div>
				<div class="form-group">
					<label for="firstName">First Name:</label>
					<input type="text" id="firstName" name="firstName" value="{{profileData[2]}}">
				</div>
				<div class="form-group">
					<label for="lastName">Last Name:</label>
					<input type="text" id="lastName" name="lastName" value="{{profileData[3]}}">
				</div>
				<div class="form-group">
					<label for="address1">Address 1:</label>
					<input type="text" id="address1" name="address1" value="{{profileData[4]}}">
				</div>
				<div class="form-group">
					<input type="submit" value="Save">
				</div>
			</form>
		</div>
	</div>
</body>
</html>
