{% extends 'base.html' %}
{% block content %}
<div class="display">
    <div class="displayCategory">
        <h2>Shop by Category: </h2>
        <ul>
            {% for row in categoryData %}
            <li><a href="/displayCategory?categoryId={{ row[0] }}">{{ row[1] }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="displayItems">
        <h2>Clothes you may like:</h2>
        {% for data in itemData %}
        <table>
            <tr id="productName">
                {% for row in data %}
                <td>{{ row[1] }}</td>
                {% endfor %}
            </tr>
            <tr id="productImage">
                {% for row in data %}
                <td>
                    <a href="/productDescription?productId={{ row[0] }}">
                        <img src="{{ url_for('static', filename='uploads/' + row[4]) }}" id="itemImage" />
                    </a>
                </td>
                {% endfor %}
            </tr>
            <tr id="productPrice">
                {% for row in data %}
                <td>${{ row[2] }}</td>
                {% endfor %}
            </tr>
        </table>
        {% endfor %}
    </div>
</div>
{% endblock %}
